name: Auto Approve/Merge Scala Steward PR

on:
  pull_request_target:
    types: [opened, synchronize, reopened]

permissions:
  pull-requests: write
  contents: write

jobs:
  auto-approve-merge:
    if: contains( github.event.pull_request.labels.*.name, 'scala-steward')
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      PR_URL: ${{ github.event.pull_request.html_url }}
      PR_TITLE: ${{ github.event.pull_request.title }}
    steps:
      - name: Auto Approve
        run: gh pr review --approve "$PR_URL"
      - name: Auto Merge
        run: gh pr merge --auto --squash --body "$PR_TITLE" "$PR_URL"
